@model EComm_Web_App.Models.OrderModel

@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<h4>Order Place Successfully! Thanks for Ordering</h4>
<hr />

<div>
    <a asp-controller="Products" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
